@charset "UTF-8";
/* Описание общих правил */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  cursor: pointer;
  font-family: inherit;
  border: none;
  border-radius: 4px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: #212121;
}

body {
  background-color: #ffffff;
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.section {
  padding: 60px 0px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0px;
  }
}

.container {
  width: 100%;
  padding: 0px 15px;
  outline: 2px solid red;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-left: 40px;
  background-color: #ffffff;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-toggle {
  min-width: 40px;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  padding: 0px;
  background-color: transparent;
  border-radius: 50%;
}

.menu-toggle:hover, .menu-toggle:focus {
  fill: #188ce8;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle.js-close-menu {
  margin: 10px 15px auto auto;
}

.nav__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
}

.nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.nav-current {
  color: #2196f3;
}

.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}

.contacts {
  margin-top: 302px;
  font-family: inherit;
  letter-spacing: 0.02em;
}

.contacts__mobile-number {
  color: #2196f3;
  font-size: 34px;
  line-height: 1.176;
  margin-bottom: 32px;
}

.contacts__email {
  color: #757575;
  font-size: 24px;
  line-height: 1.166;
}

.contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-socials {
  display: flex;
  flex-wrap: wrap;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  margin-top: 64px;
  margin-right: 83px;
}

.mobile-socials__link {
  color: #2196f3;
}

.mobile-socials__delimeter {
  color: rgba(33, 33, 33, 0.2);
  margin: 0 10px;
}

/* Описание стилей хедера */
.page-header {
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768px) {
  .page-header__pages {
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  .page-header__pages {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .page-header__pages {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .page-header__container {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .page-header__container {
    display: flex;
    align-items: center;
  }
}

.page-header__havigation {
  display: flex;
}

@media screen and (min-width: 1200px) {
  .page-header__havigation {
    display: flex;
    align-items: center;
  }
}

.page-header__logofirstpart {
  padding: 16px 0px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.16;
  color: #2196f3;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-header__logofirstpart {
    padding: 26px 0px;
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .page-header__logofirstpart {
    font-size: 26px;
    line-height: 1.2;
    padding: 24px 0px 25px 0px;
    margin-right: 93px;
  }
}

.page-header__logosecondpart {
  font-family: "Raleway", sans-serif;
  color: #212121;
}

.page-header__link {
  display: block;
  padding: 32px 0px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__contacts {
  flex-wrap: wrap;
  margin-left: 84px;
  align-content: center;
}

@media screen and (max-width: 767px) {
  .page-header__contacts {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-header__contacts {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .page-header__contacts {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}

.page-header__contactlink {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .page-header__contactlink {
    display: flex;
    font-size: 14px;
    line-height: 1.14;
    padding: 32px 0px;
    letter-spacing: 0.02em;
  }
}

.page-header__mail-icon, .page-header__smartphone-icon {
  margin-right: 10px;
  fill: currentColor;
}

.page-header__link--current {
  color: #2196f3;
}

.page-header__link--current:after {
  display: flex;
  content: '';
  position: absolute;
  border-radius: 2px;
  background: #2196f3;
  height: 4px;
  width: 100%;
  bottom: -1px;
  left: 0px;
}

.page-header__item:not(:last-child) {
  margin-right: 50px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-header__contact:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .page-header__contact:not(:last-child) {
    margin-right: 50px;
  }
}

.page-header__link:hover, .page-header__link:focus, .page-header__contactlink:hover, .page-header__contactlink:focus {
  color: #2196f3;
}

/* Описание стилей секции герой */
.hero {
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  text-align: center;
  padding: 118px 0px;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0px;
    max-width: 1600px;
  }
}

.hero__header {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0px auto 30px;
}

@media screen and (min-width: 1200px) {
  .hero__header {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0px auto 30px;
  }
}

.hero__button {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background: #2196f3;
  color: inherit;
  padding: 10px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/* Описание стилей секции особенностей */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .qualities__list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .qualities__list {
    display: flex;
    margin: -15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .qualities__item:nth-last-child(n + 3) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .qualities__item:nth-child(odd) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .qualities__item {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .qualities__item {
    margin: 0px 15px;
    width: calc((100%-120px) / 4);
  }
}

.qualities__background {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .qualities__background {
    width: 270px;
  }
}

.qualities__title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  color: #212121;
}

@media screen and (min-width: 768px) {
  .qualities__title {
    text-align: start;
  }
}

.qualities__text {
  line-height: 1.71;
  color: #757575;
}

/* Описание стилей секции чем мы занимаемся */
.work {
  padding-top: 0px;
}

@media screen and (max-width: 1200px) {
  .work {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .work__header {
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    border: none;
  }
}

@media screen and (min-width: 1200px) {
  .work__list {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .work__thumb {
    position: relative;
  }
}

@media screen and (min-width: 1200px) {
  .work__label {
    color: #ffffff;
    font-weight: bold;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    height: 70px;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 27px 0px;
    background-color: rgba(47, 48, 58, 0.8);
  }
}

@media screen and (min-width: 1200px) {
  .work__example:not(:last-child) {
    margin-right: 30px;
  }
}

/* Описание стилей секции наша команда */
.team {
  background-color: #f5f4fa;
  width: 100vw;
}

.team__header {
  font-size: 28px;
  line-height: 1.178;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .team__header {
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .team__list {
    display: flex;
  }
}

.member {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  font-size: 16px;
  line-height: 1.18;
  display: inline-block;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .member:nth-last-child(n + 3) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .member {
    width: 354px;
  }
}

.member__title {
  margin: 30px 0px 10px 0px;
  font-weight: 500;
  color: #212121;
}

.member__role {
  color: #757575;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .member:nth-child(odd) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .member:not(:last-child) {
    margin-right: 30px;
  }
}

.socials__list {
  display: flex;
  margin: 0px auto 24px;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .socials__list {
    margin: 0px 32px 30px;
  }
}

.socials__instagram-icon, .socials__twitter-icon, .socials__facebook-icon, .socials__linkedin-icon {
  fill: currentColor;
}

.socials__link {
  display: block;
  height: 44px;
  width: 44px;
  padding: 12px 12px;
  color: #afb1b8;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover, .socials__link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

/* Описание стилей секции клиентов */
.clients {
  text-align: center;
}

.clients__header {
  font-size: 28px;
  line-height: 1.178;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .clients__header {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    color: #212121;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 480px) {
  .clients__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: calc(100% / 2);
  }
}

@media screen and (min-width: 1200px) {
  .clients__list {
    display: flex;
  }
}

.clients__icon {
  fill: currentColor;
}

.clients__link {
  padding: 16px 52px;
  max-width: 210px;
  max-height: 92px;
  display: inline-flex;
  flex-wrap: wrap;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  color: #2196f3;
  border-color: #2196f3;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__link {
    max-width: 226px;
    padding: 16px 60px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__link {
    padding: 16px 32px;
    width: 170px;
    height: 92px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__item:nth-child(-n + 2), .clients__item:nth-child(4), .clients__item:nth-child(5) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 480px) {
  .clients__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .clients__item:nth-last-child(n + 3) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__item:nth-last-child(n + 4) {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .clients__item:nth-child(2n + 1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item:not(:last-child) {
    margin-right: 30px;
  }
}

/* Описание стилей футера */
.page-footer {
  background-color: #2f303a;
  padding: 60px 0px;
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .page-footer__container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
  }
}

.page-footer__container div {
  flex-basis: calc(100% / 2);
}

@media screen and (min-width: 1200px) {
  .page-footer__container {
    display: flex;
    align-items: baseline;
    text-align: start;
  }
}

.page-footer__logosecondpart {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
}

.page-footer__header {
  margin-top: 60px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .page-footer__header {
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__header {
    margin: 0px 0px 20px 70px;
  }
}

.page-footer__contactslist {
  font-style: normal;
  margin-top: 20px;
}

.page-footer__contactstext {
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer__contactstext:hover, .page-footer__contactstext:focus, .page-footer__contactstext--current {
  color: #ffffff;
}

.page-footer__contactsitem:hover, .page-footer__contactsitem:focus {
  color: rgba(255, 255, 255, 0.6);
}

.page-footer__contactsitem:not(:last-child) {
  margin-bottom: 9px;
}

.page-footer__subscription {
  margin: 60px 0px 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .page-footer__subscription {
    margin: 60px auto 20px;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__subscription {
    margin: 0px 0px 20px 93px;
  }
}

@media screen and (max-width: 1200px) {
  .page-footer .page-header__logofirstpart {
    margin: 0 auto;
  }
}

.page-footer .socials__item {
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
}

.page-footer .socials__list {
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .page-footer .socials__list {
    margin: 0px 93px 0px 70px;
  }
}

.page-footer .socials__link:hover, .page-footer .socials__link:focus {
  background-color: #2196f3;
}

.page-footer .socials__instagram-icon, .page-footer .socials__twitter-icon, .page-footer .socials__facebook-icon, .page-footer .socials__linkedin-icon {
  fill: #ffffff;
}

.subscription {
  display: inline-block;
  align-items: center;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .subscription {
    display: flex;
  }
}

.subscription__email {
  width: 100%;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
  background-color: #2f303a;
  color: #ffffff;
}

.subscription__email:focus {
  border-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .subscription__email {
    width: 450px;
    height: 50px;
  }
}

@media screen and (max-width: 1200px) {
  .subscription__email {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .subscription__email {
    margin-right: 12px;
    width: 358px;
  }
}

.subscription__button {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background: #2196f3;
  padding: 10px 29px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  color: #ffffff;
}

.subscription__button:hover, .subscription__button:focus {
  background: #188ce8;
}

@media screen and (max-width: 1200px) {
  .subscription__button {
    margin: 0px auto;
  }
}

.subscription__send-icon {
  margin-left: 10px;
  fill: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms, visibility 500ms;
}

.backdrop.is-hidden .modal {
  transform: scale(0.5);
}

.is-hidden {
  opacity: 0.5;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms;
  padding: 40px;
  text-align: center;
  min-height: 609px;
  width: 450px;
}

@media screen and (max-width: 479px) {
  .modal {
    width: 93.75%;
    height: 76.5%;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.modal__close {
  padding: 6px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close:hover, .modal__close:focus {
  border-color: #2196f3;
  fill: #2196f3;
}

.modal__close-icon:hover, .modal__close-icon:focus {
  border-color: #2196f3;
  fill: #2196f3;
}

.modal__button {
  margin-top: 30px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background: #2196f3;
  color: #ffffff;
  padding: 10px 55px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.modal__button:hover, .modal__button:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.form__header {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  color: #212121;
  margin-bottom: 12px;
}

@media screen and (min-width: 1200px) {
  .form__header {
    line-height: 1.15;
  }
}

.form__label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
  display: flex;
}

.form__field {
  position: relative;
  display: block;
}

.form__field textarea {
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-bottom: 20px;
  display: inline-block;
  position: relative;
  padding: 12px 16px;
  height: 120px;
  width: 100%;
  resize: none;
}

.form__icon {
  display: inline-block;
  position: absolute;
  top: 11px;
  left: 12px;
  transform: translateY(95%);
}

.form__input {
  height: 40px;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  position: relative;
  padding: 12px 12px 12px 42px;
}

.form__input:focus {
  border-color: #2196f3;
  outline: none;
}

.form__input:focus ~ .form__icon {
  fill: #2196f3;
}

.agreement {
  display: inline-flex;
  align-items: center;
  color: #757575;
  font-size: 12px;
  line-height: 1.16;
}

@media screen and (min-width: 1200px) {
  .agreement {
    font-size: 14px;
    line-height: 1.71;
  }
}

.agreement__icon {
  margin-right: 7px;
  fill: none;
  border: 2px solid #212121;
  border-radius: 2px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement__checkbox:checked ~ .agreement__icon {
  border: transparent;
  fill: #ffffff;
  background-color: #2196f3;
}

.agreement__link {
  color: #2196f3;
}

.aggreement__button:hover,
.aggreement__button:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/* Фильтр на странице портфолио */
.portfolio__filter {
  display: inline-flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .portfolio__filter {
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__filter {
    margin-bottom: 50px;
  }
}

.portfolio__button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: #212121;
  background-color: #f5f4fa;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__button:hover, .portfolio__button:focus, .portfolio__button--active {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__item {
  color: inherit;
}

.portfolio__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .portfolio__item:nth-last-child(n + 3) {
    margin-bottom: 15px;
  }
}

/* Описание стилей секции портфолио */
@media screen and (min-width: 768px) {
  .portfolio__examples {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__examples {
    margin: calc(-1 * 15px);
    justify-content: center;
  }
}

.portfolio__example {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc((100% - 30px) / 2);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

@media screen and (min-width: 1200px) {
  .portfolio__example {
    flex-basis: calc((100% - 90px) / 3);
    margin: 15px;
  }
}

.portfolio__example:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .portfolio__example:nth-child(odd) {
    margin-right: 30px;
  }
}

.portfolio__example:hover, .portfolio__example:focus {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__example:hover .portfolio__overlay, .portfolio__example:focus .portfolio__overlay {
  transform: translateY(0%);
}

.portfolio__card {
  padding: 20px 24px;
  border-radius: 0px 0px 4px 4px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.portfolio__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__description {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.875;
  color: #757575;
}

.portfolio__overlay {
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
}

.portfolio__frame {
  position: relative;
  overflow: hidden;
}

.portfolio__img-text {
  font-size: 18px;
  line-height: 1.55;
  color: #ffffff;
}
/*# sourceMappingURL=main.css.map */