$main-text-color: #212121;
$secondary-text-color: #757575;
$accent-text-color: #2196f3;
$secondary-backgroung: #2f303a;
$main-backgroung: #ffffff;
$light-background: #f5f4fa;
$light-icons: #afb1b8;
$button-active: #188ce8;
$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$fontdefault: 'Roboto', sans-serif;
$fontadditional: 'Raleway', sans-serif;
