.menu-container {
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &.is-open {
    transform: translateX(0);
  }
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-left: 40px;
  background-color: $main-backgroung;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-toggle {
  min-width: 40px;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  padding: 0px;
  background-color: transparent;
  border-radius: 50%;
  &:hover,
  &:focus {
    fill: $button-active;
  }
  @media screen and (min-width: $tablet) {
    display: none;
  }
  &.js-close-menu {
    margin: 10px 15px auto auto;
  }
}

.nav {
  &__item {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
  &-current {
    color: $accent-text-color;
  }
  &__link {
    &:hover,
    &:focus {
      color: $accent-text-color;
    }
  }
}

.contacts {
  font-family: inherit;
  letter-spacing: 0.02em;
  font-weight: 500;
  &__mobile-number {
    color: $accent-text-color;
    font-size: 34px;
    line-height: 1.176;
    margin-bottom: 32px;
  }
  &__email {
    color: $secondary-text-color;
    font-size: 24px;
    line-height: 1.166;
  }
  &__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mobile-socials {
  display: flex;
  flex-wrap: wrap;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  margin: 64px 83px 48px 0px;
  &__link {
    color: $accent-text-color;
  }
  &__item:not(:last-child)::after {
    content: '';
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    margin: 0 10px;
  }
}
