/* Описание стилей секции особенностей */

.qualities {
  &__list {
    @media screen and (min-width: $tablet) and (max-width: $pre-desktop) {
      display: flex;
      flex-wrap: wrap;
    }
    @media screen and (min-width: $desktop) {
      display: flex;
      margin: -15px;
    }
  }
  &__item {
    &:nth-last-child(n + 2) {
      margin-bottom: 30px;
    }
    &:nth-last-child(n + 3) {
      @media screen and (min-width: $tablet) and (max-width: $pre-desktop) {
        margin-bottom: 30px;
      }
    }
    &:nth-child(odd) {
      @media screen and (min-width: $tablet) and (max-width: $pre-desktop) {
        margin-right: 30px;
      }
    }
    @media screen and (min-width: $tablet) and (max-width: $pre-desktop) {
      width: 354px;
    }
    @media screen and (min-width: $desktop) {
      margin: 0px 15px;
      width: calc((100%-120px) / 4);
    }
  }
  &__background {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: $light-background;
    border-radius: 4px;
    margin-bottom: 30px;
    @media screen and (min-width: $desktop) {
      width: 270px;
    }
  }
  &__title {
    text-align: center;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.14;
    text-transform: uppercase;
    color: $main-text-color;
    @media screen and (min-width: $tablet) {
      text-align: start;
    }
  }
  &__text {
    line-height: 1.71;
    color: $secondary-text-color;
  }
}
