/* Описание стилей секции наша команда */

.team {
  background-color: $light-background;
  width: 100vw;
  &__header {
    font-size: 28px;
    line-height: 1.178;
    text-align: center;
    margin-bottom: 30px;
    @media screen and (min-width: $desktop) {
      margin-bottom: 50px;
      font-weight: bold;
      font-size: 36px;
      line-height: 1.16;
    }
  }
  &__list {
    @media screen and (min-width: $desktop) {
      display: flex;
    }
  }
}

.member {
  background-color: $main-backgroung;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  font-size: 16px;
  line-height: 1.18;
  display: inline-block;
  width: 100%;
  @media screen and (max-width: $desktop) {
    margin-bottom: 30px;
  }
  &__title {
    margin: 30px 0px 10px 0px;
    font-weight: 500;
    color: $main-text-color;
  }
  &__role {
    color: $secondary-text-color;
    margin-bottom: 16px;
  }
  &:not(:last-child) {
    @media screen and (min-width: $desktop) {
      margin-right: 30px;
    }
  }
}
