/* Описание стилей секции чем мы занимаемся */

.work {
  @media screen and (max-width: $desktop) {
    display: none;
  }
  padding-top: 0px;
  &__header {
    @media screen and (min-width: $desktop) {
      margin-bottom: 50px;
      font-weight: bold;
      font-size: 36px;
      line-height: 1.16;
      text-align: center;
      border: none;
    }
  }
  &__list {
    @media screen and (min-width: $desktop) {
      display: flex;
    }
  }
  &__thumb {
    @media screen and (min-width: $desktop) {
      position: relative;
    }
  }
  &__label {
    @media screen and (min-width: $desktop) {
      color: $main-backgroung;
      font-weight: bold;
      line-height: 1.14;
      text-align: center;
      text-transform: uppercase;
      position: absolute;
      height: 70px;
      width: 100%;
      bottom: 0;
      left: 0;
      padding: 27px 0px;
      background-color: rgba(47, 48, 58, 0.8);
    }
  }
  &__example {
    &:not(:last-child) {
      @media screen and (min-width: $desktop) {
        margin-right: 30px;
      }
    }
  }
}
